<% provide :title, 'Home' %>

<div class="row">
  <div class="col-md-12 columns text-center">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=Yogyakarta,Indonesia&zoom=12&size=500x200&maptype=roadmap&scale=2">
  <hr>
  </div>
</div>
<div class="row">
  <% @places.each do |place| %>
    <div class="col-md-3 columns place-item">
      <%= image_tag place.image.url, size: '200x150', alt: place.name, class: 'img-thumbnail' %>
      <h2><%= link_to place.name, place %></h2>
      <p><em>Posted at: <%= time_ago_in_words place.created_at %> ago</em></p>
      <p><%= truncate place.description, length: 50  %></p>
      <div class="pull-right">
        <%= gravatar_for place.user, size: 20 %>
        <small>By: <%= link_to place.user.name, place.user %></small>
      </div>
    </div>
  <% end %>
</div>
