<% provide :title, 'Edit Password' %>

<h2>Enter Your New Password</h2>
<%= form_for @user, url: password_reset_path(@user) do |f| %>
  <div class='form-group'>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  <div>

  <div class='form-group'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <%= f.submit 'Reset my Password', class: 'btn btn-primary btn-block' %>
<% end %>

