<% provide :title, @place.name %>

<h2>
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  <%= @place.name %>
</h2>
<p><em>Posted at: <%= time_ago_in_words @place.created_at %> ago</em></p>
<div class="row">
  <div class="columns col-md-3">
    <%= image_tag @place.image.url, size: '250x250', alt: @place.name %>
  </div>
  <div class="columns col-md-9">
    <blockquote><small><%= @place.description %></small></blockquote>
  </div>
</div>
<div class="pull-right">
  <img src="http://placehold.it/20x20">
  <small>By: <%= link_to @place.user.name, @place.user %></small>
</div>
